<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="background:linear-gradient(red,green,yellow,orange);color:darkmagenta">This Dhoni page</h1>
        <h1><a href="{% url 'rcb:RCB' %}">Go to virat page</a></h1>
        <h1><a href="{% url 'sahweg' %}">Go to sahweg page</a></h1>
    </center>
</body>
</html>